<h1>Editing <%= @song.name %></h1>

<%= form_for @song  do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <br />
  <%= f.colletion_select :artist_id, @artists, :id, :name %>
  <%= f.submit %>
<% end %>
